/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 12pt;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header {
	}
				
		#header .features {
		}
		
			#header .features li {
				width: 8.5em;
			}
			
		
/*********************************************************************************/
/* Dialog                                                                        */
/*********************************************************************************/

	#dialog {
	}

		#dialog .modal {
			padding: 2.25em 1em 2.25em 1em;
		}

			#dialog .modal .share {
				width: 49%;
				margin: 0 1% 0 0;
			}
			
			#dialog .modal .button.twitter {
				width: 49%;
				margin: 0 0 0 1%;
			}
