.iS.iS-SkinDots {
	position: relative;
	top: 0px;
	left: 0px;
}
.iS-SkinDots .iS-Commands {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
.iS-SkinDots .iS-Content {
	position: absolute;	
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
}
.iS-SkinDots .iS-Items {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.iS-SkinDots .iS-Item {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.iS-SkinDots .iS-Previous {
	position: absolute;	
	z-index: 3;
	cursor: pointer;
	width: 40px;
	height: 40px;
	top: 75%;
	left: 50%;
	border-radius: 50%;
	border: 1px solid;
	line-height: 40px;
	margin-top: -20px;
	margin-left: -55px;
	padding-left: 13px;
}
.iS-SkinDots .iS-Next {
	position: absolute;	
	z-index: 3;
	cursor: pointer;
	width: 40px;
	height: 40px;
	top: 75%;
	left: 50%;
	border-radius: 50%;
	border: 1px solid;
	line-height: 40px;
	margin-top: -20px;
	margin-left: 20px;
	padding-left: 15px;
}
.iS-SkinDots .iS-Play {
	position: absolute;	
	z-index: 3;
	cursor: pointer;
	text-align: center;
	top: 5%;
	right: 5%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid;
	line-height: 38px;
}
.iS-SkinDots .iS-Playactive {
}
.iS-SkinDots .iS-Stop {
	position: absolute;
	z-index: 3;
	cursor: pointer;
	text-align: center;
	top: 5%;
	right: 5%;
	margin-right: 50px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid;
	line-height: 38px;
}
.iS-SkinDots .iS-Stopactive {
}
.iS-SkinDots .iS-Loopline {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 5px;
	left: 0px;
	bottom: 0px;
}
.iS-SkinDots .iS-Dots {
	position: absolute;	
	text-align: center;
	right: 2%;
	top: 50%;
	margin-top: -58px;
	width: 30px;
	height: auto;
	padding: 2px 0px;
	text-align: center;
	overflow: hidden;
}
.iS-SkinDots .iS-Dot {
	position: relative;
	z-index: 3;
	cursor: pointer;
	vertical-align: middle;
	z-index: 3;
	text-align: center;
	width: 16px;
	height: 16px;
	margin: 16px 7px;
	border-radius: 50%;
	border: 2px solid;
	line-height: 47px;
}
/*Colors*/

.iS-SkinDots .iS-Previous {
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.iS-SkinDots .iS-Previous:hover {
	color: #fff;
	background-color: #00adee;
}
.iS-SkinDots .iS-Next {
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.iS-SkinDots .iS-Next:hover {
	color: #fff;
	background-color: #00adee;
}
.iS-SkinDots .iS-Play {
	display: none;
	color: #fff;
	border-color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.iS-SkinDots .iS-Play:hover {
	color: #fff;
	background-color: #00adee;
}
.iS-SkinDots .iS-Playactive {
}
.iS-SkinDots .iS-Stop {
	display: none;
	color: #fff;
	border-color: #fff;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.iS-SkinDots .iS-Stop:hover {
	color: #fff;
	background-color: #00adee;
}
.iS-SkinDots .iS-Stopactive {
}
.iS-SkinDots .iS-Dots {
	
}
.iS-SkinDots .iS-Dot {
	color: #00adee;
	background-color: #fff;	
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	border-color: #fff;
}
.iS-SkinDots .iS-Dot:hover {
	color: #fff;
	background-color: #00adee;	
	border-color: #00adee;	
}
.iS-SkinDots .iS-Dotactive {
	color: #fff;
	background-color: #00adee;	
	border-color: #00adee;			
}
.iS-SkinDots .iS-Loopline {
	background-color: #00adee;	
}
/*Responsive*/
@media (max-width: 767px) {
	.iS.iS-SkinDots .iS-Dots {
		display: none;
	}
	.iS-SkinDots .iS-Next, .iS-SkinDots .iS-Previous {
		display: visible;
	}
}
@media (min-width: 768px) {
	.iS.iS-SkinDots .iS-Dots {
		display: visible;
	}
	.iS-SkinDots .iS-Next, .iS-SkinDots .iS-Previous {
		display: none;
	}
}
